<ion-view style="" class=" " id="page2" title="Item">
    <ion-content class="has-header" padding="true">
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" class="icon ion-image"></i>
        </div>
        <form class="list " id="item-form4">
            <label id="item-input2" class="item item-input ">
                <span class="input-label">Input</span>
                <input placeholder="" type="text">
            </label>
            <label id="item-input3" class="item item-input ">
                <span class="input-label">Input</span>
                <input placeholder="" type="text">
            </label>
            <label id="item-input4" class="item item-input ">
                <span class="input-label">Input</span>
                <input placeholder="" type="text">
            </label>
        </form>
        <a class=" button button-positive  button-block icon ion-checkmark-circled " id="item-button1" ui-sref="list"> Approve</a>
    </ion-content>
</ion-view>