<ion-view style="" class=" " id="page1" title="Idealo List">
    <ion-content class="has-header" padding="true">
        <ion-list class=" " id="list-list1">
            <ion-item ng-repeat="item in todos" style="" ui-sref="item" id="list-list-item1" class="item-icon-left dark  ">
                <i class="icon ion-ios-close"></i> <font color="black">{{item.name}}</font></ion-item>
            <ion-item style="" id="list-list-item2" class="item-icon-left assertive  ">
                <i class="icon ion-minus-circled"></i> <font color="black">Item 2</font></ion-item>
            <ion-item style=" " id="list-list-item3" class="item-icon-left balanced  ">
                <i class="icon ion-ios-checkmark"></i> <font color="black"> Item 3</font> </ion-item>
        </ion-list>
    </ion-content>
</ion-view>